* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  overflow: auto;
}
h1 {
  margin-top: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

section {
  position: absolute;
  top: 30%;
  width: 200px;
  left: 3%;
}
section > :first-child {
  border-radius: 50%;
  background-color: black;
  border-radius: 1px solid black;
  color: wheat;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  padding: 10px;
}
section > :nth-child(2) {
  border-radius: 50%;
  background-color: black;
  border-radius: 1px solid black;
  color: wheat;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  padding: 10px;
}

section > :nth-child(3) {
  border-radius: 50%;
  background-color: black;
  border-radius: 1px solid black;
  color: wheat;
  width: 100px;
  margin-top: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: smaller;
  padding: 6px;
  padding-left: 2px;
}
.container {
  width: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}
.training-item {
  flex-basis: 23%;
  box-shadow: 0px 0px 10px 3px lightgrey;
  margin: 15px 0px;

  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
}
.training-item h3 {
  font-size: 10x;
  font-style: oblique;
  padding: 10px 0px;
}
.training-item p {
  text-align: center;
  padding: 0px 2px;
}
.training-item button {
  padding: 5px 10px;
  margin: 5px 0px;
  background-color: black;
  color: white;
  border: 1px solid slategray;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 2px slategray;
  text-transform: uppercase;
}

#User {
  color: aqua;
}
button {
  width: 50%;
}
button:hover {
  content: "hi";
}
img {
  width: 70px;
  height: 70px;
}

h1 span {
  color: #bd53ed;
}
h1 span::before {
  content: "";
  top: 50%;
  right: -1px;
  position: absolute;
  height: 30px;
  width: 2px;
  background-color: #2f2c30;
}
/*   Navbar css*/
header {
  position: sticky;
  top: 0;
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 0px;
}
.logo {
  position: relative;
  color: white;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
}
header nav {
  display: flex;
  gap: 10px;
  font-family: monospace;
}
header nav a {
  position: relative;
  text-decoration: none;
  padding: 12px 20px;
  color: white;
  font-size: larger;
  font-weight: 500;
}
header nav a:hover {
  color: var(--clr);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* chat no*/
.con {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 50px;
  height: 50px;
  background-color: aqua;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
}

/* resume section*/
.resume {
  position: fixed;
  top: 30%;
  left: 0%;
  width: 150px;
  height: 50px;
  border-top-right-radius: 45%;
  border: 2px solid #bd53ed;
  border-left: none;
  border-bottom-right-radius: 45%;

  text-align: center;
  padding-top: 10px;
}

.resume1 {
  position: fixed;
  top: 40%;
  left: 0%;
  width: 150px;
  height: 50px;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;

  border: 2px solid #bd53ed;
  border-left: none;
  text-align: center;
  padding-top: 10px;
}
.resume2 {
  position: fixed;
  top: 50%;
  left: 0%;
  width: 150px;
  height: 50px;
  border: 2px solid #bd53ed;
  border-left: none;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;

  text-align: center;
  padding-top: 10px;
}
#find{
border: 1px solid black;
border-radius: 3rem;
padding-left: 20px;
padding-top: 5px;
padding-bottom: 5px;
}
